<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>Title</title>
    <script type="text/javascript">
        function setup(htmlComponent) {
            let buttons = document.querySelectorAll('.navbar__link');
            buttons.forEach((button) => {
                button.addEventListener('click', () => {
                    htmlComponent.sendEventToMATLAB('ChangeWindow', button.innerText);
                });
            });
        }
    </script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__links">
            <li class="navbar__link"><a href="#">Acasa</a></li>
            <li class="navbar__link"><a href="#">Generator de tensiune</a></li>
            <li class="navbar__link"><a href="#">Documentatie</a></li>
            <li class="navbar__link"><a href="#">CircuitsOnline</a></li>
        </ul>
    </nav>
</body>
</html>